{% for rc in recent_changes %}
<div class="rc-change">
  <hr>
  <p>
    {{ "Добавление" if rc.type == "new" else "Изменение" }} страницы <a
      href="{{ site_url ~ rc.title }}"
      >{{ rc.title }}</a>.
    {% if rc.type == "edit" %}
    <a
    href="{{ url_for(
      "wikistat.diff_view",
      family=family,
      diff=rc.revid,
      old_diff=rc.old_revid,
      title=rc.title,
      ) }}"
    >Diff</a>
    {% endif %}
  </p>
  <p>Автор изменения: {{ rc.user }}</p>
  <p>Время изменения: {{ rc.timestamp }}</p>
  {% if rc.comment %}
  <p>Комментарий: {{ rc.comment }}</p>
  {% endif %}
</div>
{% endfor %}
