{% for rc in recent_changes %}
<div class="rc-change">
  <hr>
  <p>
    {{ rc.timestamp }} ..
    {{ "добавление" if rc.type == "new" else "изменение" }} <a
      href="{{ script ~ "?title=" ~ rc.title ~ "&oldid=" ~ rc.old_revid}}"
      >{{ rc.title }}</a>
    {% if rc.type == "edit" %}
    (<a
    href="{{ url_for(
      "wikistat.diff_view",
      family=family,
      from_rev=rc.old_revid,
      to_rev=rc.revid,
      title=rc.title,
      ) }}"
    >разн.</a>) ..
    {% endif %}
    <a
      href="{{ url_for("wikistat.user", family=family, user=rc.user) }}"
    >{{ rc.user }}</a>
    {% if rc.comment %}
    ({{ rc.comment }})
    {% endif %}
  </p>
</div>
{% endfor %}
