{% extends "base.html" %}
{% from 'macros.html' import render_styles %}

{% block stylesheets %}
{{ render_styles(['wikistat.css']) }}
{% endblock%}

{% block content %}
<div class="project-info">
  <h1>Mediawiki monitor</h1>
  <p>
    Проект получает и показывает статистику проектов, основанных на движке Mediawiki,
    делая запросы к их API. На данный момент можно увидеть основную информацию
    о проекте (включая техническую), последние изменения и сравнение diff для них.
  </p>
  <p>
    Проект в стадии активной разработки.
  </p>
</div>
<div class="available-wikis">
  <h2>Доступные вики-проекты</h2>
  {% include "wikistat/wikistat/links.html" %}
</div>
<div class="feature-todos">
  <h2>Планируемые фичи</h2>
  <ul>
    <li>Возможность смотреть изменений конкретного пользователя</li>
    <li>Поиск страницы (текста на странице) по всем доступным вики</li>
    <li>Добавленные пользователем вики-проекты</li>
  </ul>
</div>
{% endblock %}
