/* Horizontal lists */

.hlist li {
  display: inline;
}

.hlist li::before {
  content: ' · ';
  font-weight: bold;
}

.hlist li:first-child::before {
  content: none;
}

/* Nav box */
nav {
  display: flex;
  gap: 20px;
  padding: 12px;
}

nav a {
  text-decoration: none;
}
