.wiki-stat {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.wiki-stat .hlist {
  width: 80%;
  margin: 10px auto;
}

.wiki-stat .hlist li {
  text-align: left;
}

.wiki-stat .wiki-admins h2,
.wiki-stat .active-users h2 {
  font-size: 1em;
}
