{% extends "base.html" %}

{% from 'macros.html' import render_styles %}

{% block stylesheets %}
{{ render_styles(['diff.css']) }}
{% endblock%}

{% block content %}
<h1>{{ wiki_page_title | capitalize }}</h1>
<p><a href="{{ url_for("wikistat.family", family=family) }}">Вернуться</a></p>
<table class="diff">
  <colgroup>
    <col class="diff-marker">
    <col class="diff-content">
    <col class="diff-marker">
    <col class="diff-content">
  </colgroup>
  <tbody>
    {{ diff | safe }}
  </tbody>
</table>
{% endblock %}
